<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.penabranca">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".com.example.filhos.AdmActivity"
            android:label="@string/title_activity_adm"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".com.example.filhos.LoginActivity" />
        <activity
            android:name=".com.example.filhos.FilhoActivity"
            android:label="Filho"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".com.example.consulente.NavigacaoCActivity"
            android:label="Templo Pena Branca"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>